.menu-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
.menu-button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.menu-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.menu-button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.log-button {
    -fx-background-color: transparent; /* Set the background color to transparent */
    -fx-text-fill: blue; /* Set the text color to blue or your desired link color */
    -fx-underline: true; /* Underline the text to make it look like a link */
    -fx-border-width: 0; /* Remove any border */
    -fx-font-size: 20px; /* Set the font size to your desired value */
    -fx-cursor: hand; /* Change cursor to hand when hovering over the button */
    -fx-pref-height: 20px;
}

.log-button:hover {
    -fx-text-fill: red; /* Change text color on hover if desired */
}